{% extends "layout.html" %}

{% block body %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    <span>{{ message }}</span>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<nav class="navbar navbar-expand navbar-fixed-top justify-content-center">
    <div class="container-fluid justify-content-start">
        <a class="navbar-brand" href="{{url_for('index')}}" role="button"><img src="/static/Veloci-erg-ers_logo.png"></a>
    </div>
    <div class="container-fluid text-center">
        <h1 class="heading ">Please Login</h1>
    </div>
    <div class="container justify-content-end">
        <a class="btn m-2" href="{{ url_for('register') }}" role="button">Register</a>
        
    </div>
</nav>

<form action="/login" method="POST">
    <div class="form-group row m-3">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="py-2">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username (Case Sensitive)" type="username"/> 
            </div>
            <div class="py-2">
                <input class="form-control" name="password" placeholder="Password" type="password"/>
            </div>
        </div>
    </div>
    <div class="col text-center">
        <button class="btn" type="submit">Log In</button>
    </div>
</form>


{% endblock %}